# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# Django specific
db.sqlite3  
*.log      

# Virtual environment
venv/
env/

# Environment variables
.env  

# Static and media files (if they are generated dynamically)
static/
media/

# Python-related
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.egg-info/
pip-wheel-metadata/

# Celery and Redis
celerybeat-schedule
*.pid

# IDEs and editor configurations
.vscode/
.idea/
*.sublime-workspace
*.sublime-project


# Backup files
*.bak
*.swp